a {
    color: darkred;
    font-size: 27px;
}

nav {
    text-align: center;
}

.field-container {
    display: flex;
    padding: 10px;
    margin-left: 40px;
    border-radius: 5px;
}

.field-label {
    width: 20%;
}

input {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #56f606;
    color: white;
    font-size: 17px;
    padding: 10px;
}